@model IEnumerable<BibliotecaWebApplication.Models.Ejemplar>

@{
    ViewData["Title"] = "Index";
}

<h1>Ejemplares</h1>
<p>
    <a asp-action="Create" class="btn btn-success"><i class="fas fa-plus"></i>&nbsp;Crear Ejemplares</a>
</p>
<table id="ejemplartabla" class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.EjemplarId)
            </th>
            <th>
                Publicación
            </th>
            <th>
                Estante
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.EjemplarId)
                </td>
                <td>
                    @if (item.Publicacion.Libros.Any())
                    {
                        @item.Publicacion.Libros.First().Titulo
                    }
                    else if (item.Publicacion.Revistas.Any())
                    {
                        @item.Publicacion.Revistas.First().Nombre
                    }
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Estante.CodigoEstante)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.EjemplarId" class="btn btn-warning btn-sm"><i class="fas fa-edit"></i> Editar</a>
                    <a asp-action="Details" asp-route-id="@item.EjemplarId" class="btn btn-info btn-sm"><i class="fas fa-info-circle"></i> Detalles</a>
                    <a asp-action="Delete" asp-route-id="@item.EjemplarId" class="btn btn-danger btn-sm"><i class="fas fa-trash-alt"></i> Borrar</a>
                </td>
            </tr>
        }
    </tbody>
</table>


@section Scripts {
    <script>
        $(document).ready(function () {
            $('#ejemplartabla').DataTable({
                "language": {
                    "lengthMenu": "Mostrar _MENU_ entradas por página",
                    "zeroRecords": "No se encontraron resultados",
                    "info": "Mostrando _START_ a _END_ de _TOTAL_ entradas",
                    "infoEmpty": "Mostrando 0 a 0 de 0 entradas",
                    "infoFiltered": "(filtrado de _MAX_ entradas totales)",
                    "search": "Buscar:",
                    "paginate": {
                        "first": "Primero",
                        "last": "Último",
                        "next": "Siguiente",
                        "previous": "Anterior"
                    }
                }
            });
        });
    </script>
}